In [4]:
import pandas as pd

In [17]:
acoes = {'Google':[700, 710]
         ,'FB':[500, 490]
         ,'Twiter':[18.44, 21.79]
         , 'Amazon':[789, 910]
         , 'Apple': [1003, 999]}

In [18]:
df = pd.DataFrame(acoes, index=['Abertura', 'Fechamento'])

In [19]:
df

            Google   FB  Twiter  Amazon  Apple
Abertura       700  500   18.44     789   1003
Fechamento     710  490   21.79     910    999

In [26]:
df.loc['Abertura', 'Google']

700

In [25]:
df.iloc[1,2]

21.79

In [29]:
aux = df.loc['Abertura', :]

In [30]:
type(aux)

pandas.core.series.Series

In [31]:
aux

Google     700.00
FB         500.00
Twiter      18.44
Amazon     789.00
Apple     1003.00
Name: Abertura, dtype: float64

In [32]:
aux.index

Index(['Google', 'FB', 'Twiter', 'Amazon', 'Apple'], dtype='object')